doc/www/idlspec2d_doc.html
lib/*.a
lib/*.dylib
lib/*.so
src/*.o
*/.DS_Store
.DS_Store
pro/.DS_Store
*.pyc
*.egg-info/
docs/spinx/doc.rst
docs/spinx/doc_legacy.rst
docs/spinx/_build/
docs/spinx/_static/
