* text=auto !eol
etc/lamplist.dat -text
examples/README -text
examples/opBC.par -text
examples/opConfig.par -text
examples/opECalib.par -text
include/evilmath.h -text
include/export.h -text
include/extract_row.h -text
pro/calcflux.pro -text
pro/extract_boxcar.pro -text
pro/extract_image.pro -text
pro/extract_profile.pro -text
pro/extract_row.pro -text
pro/fchebyshev.pro -text
pro/flegendre.pro -text
pro/funccheb.pro -text
pro/makefile -text
pro/rdss_fits.pro -text
pro/sdssproc.pro -text
pro/spec2d/calcflux.pro -text
pro/spec2d/extract_boxcar.pro -text
pro/spec2d/extract_image.pro -text
pro/spec2d/extract_profile.pro -text
pro/spec2d/extract_row.pro -text
pro/spec2d/fchebyshev.pro -text
pro/spec2d/flegendre.pro -text
pro/spec2d/funccheb.pro -text
pro/spec2d/makefile -text
pro/spec2d/rdss_fits.pro -text
pro/spec2d/sdssproc.pro -text
pro/spec2d/sshift.pro -text
pro/spec2d/sshift2d.pro -text
pro/spec2d/sshiftvec.pro -text
pro/spec2d/svdcheb.pro -text
pro/spec2d/testextract.pro -text
pro/spec2d/trace_crude.pro -text
pro/spec2d/trace_fix.pro -text
pro/spec2d/trace_fweight.pro -text
pro/spec2d/traceset2xy.pro -text
pro/spec2d/xy2traceset.pro -text
pro/sshift.pro -text
pro/sshift2d.pro -text
pro/sshiftvec.pro -text
pro/svdcheb.pro -text
pro/testextract.pro -text
pro/trace_crude.pro -text
pro/trace_fix.pro -text
pro/trace_fweight.pro -text
pro/traceset2xy.pro -text
pro/xy2traceset.pro -text
src/evilmath.c -text
src/extract_boxcar.c -text
src/extract_profile.c -text
src/extract_row.c -text
src/sshiftvec.c -text
src/trace_crude.c -text
src/trace_fweight.c -text
ups/evilspec.table -text
