* text=auto !eol
/Makefile -text
/RELEASE_NOTES -text
bin/Makefile -text
bin/aporsync_alllog.sh -text
bin/aporsync_blue.sh -text
bin/aporsync_logs.sh -text
bin/aporsync_red.sh -text
bin/data_rsync.sh -text
bin/killdata.sh -text
bin/mailhtml.sh -text
bin/make_room.sh -text
bin/pullspectra -text
bin/pushguider -text
bin/sos.sh -text
bin/sos_redo -text
bin/sos_start -text
bin/sos_status -text
bin/sos_stop -text
bin/spamd_start -text
bin/spamd_stop -text
bin/spamdup -text
bin/speclog_update -text
bin/spreduce_batch -text
bin/sprobot.sh -text
bin/sprobot1d.sh -text
bin/sprobot2d.sh -text
bin/sprobot_start -text
bin/sprobot_status -text
bin/sprobot_stop -text
bin/sprobotlist.sh -text
bin/startapo.sh -text
bin/zplot -text
/branches -text
doc/IR_scattering.txt -text
doc/Makefile -text
doc/mk_doc -text
doc/paper/.cvsignore -text
doc/paper/frames.jpg -text svneol=unset#unset
doc/paper/outline -text
doc/paper/paper2d.tex -text
doc/paper/plot_sphoto.pro -text
doc/paper/skysubtraction.tex -text
doc/www/.cvsignore -text
doc/www/idlspec2d_install.html -text
doc/www/idlspec2d_reduce.html -text
doc/www/pathall.ps -text
doc/www/platehist.ps -text
doc/www/platelist.txt -text
doc/www/spEigenStar-52374.ps -text
doc/www/spectroSOS.html -text
doc/www/spectro_apodisplay.html -text
doc/www/spectro_home.html -text
doc/www/spectro_inspect.html -text
doc/www/zplot-brg.ps -text
doc/www/zplot-log.ps -text
doc/www/zplot-main.ps -text
doc/www/zplot-qso.ps -text
etc/BG14.txt -text
etc/FG3.txt -text
etc/Makefile -text
etc/altbg14.txt -text
etc/atmdisp_vec_am1.1see2.0.fit -text
etc/atmdisp_vec_am1.2see2.0.fit -text
etc/atmdisp_vec_am1.3see2.0.fit -text
etc/atmdisp_vec_am1.4see2.0.fit -text
etc/atmdisp_vec_am1.5see2.0.fit -text
etc/blue.bkpts -text
etc/brg.08.gk.01 -text
etc/emlines.par -text
etc/f8v.abs -text
etc/f8vspline.dat -text
etc/flatmask-b1.fits.gz -text svneol=unset#unset
etc/flatmask-b2.fits.gz -text svneol=unset#unset
etc/flatmask-r1.fits.gz -text svneol=unset#unset
etc/flatmask-r2.fits.gz -text svneol=unset#unset
etc/fluxcorr.bkpts -text
etc/intrinsic1.dat -text
etc/intrinsicF2.dat -text
etc/kurucz_stds_v5.fit -text
etc/lamphgcdne.dat -text
etc/linematch.par -text
etc/red.bkpts -text
etc/regress1d_all.chicago -text
etc/regress1d_all.dat -text
etc/regress1d_all.plates -text
etc/skylines.dat -text
etc/spChunkList.par -text
etc/spPlateList.par -text
examples/Makefile -text
examples/README -text
examples/batch1d.par -text
examples/batch2d.par -text
examples/g_codes_alignment.txt -text
examples/g_codes_completion.txt -text
examples/g_codes_lighttrap.txt -text
examples/g_codes_object.txt -text
examples/opBC-50000.par -text
examples/opBC-51809.par -text
examples/opBC-51813.par -text
examples/opBC-empty.par -text
examples/opConfig-50000.par -text
examples/opECalib-50000.par -text
examples/opECalib-51430.par -text
examples/opECalib-51577.par -text
examples/opHdrFix.par -text
examples/opLimits.par -text
examples/plParam.par -text
examples/plPlugMapT-XXXX.par -text
examples/spFluxcalib-b1.fits -text svneol=unset#unset
examples/spFluxcalib-b2.fits -text svneol=unset#unset
examples/spFluxcalib-r1.fits -text svneol=unset#unset
examples/spFluxcalib-r2.fits -text svneol=unset#unset
include/Makefile -text
include/export.h -text
include/extract_row.h -text
lib/.cvsignore -text
lib/Makefile -text
misc/Makefile -text
misc/atomic.dat -text
misc/brg.list -text
misc/distort.blue -text
misc/distort.red -text
misc/plate306.mail -text
misc/uomoto.distortions -text
pro/Makefile -text
pro/apo2d/Makefile -text
pro/apo2d/apo_appendlog.pro -text
pro/apo2d/apo_checklimits.pro -text
pro/apo2d/apo_color2hex.pro -text
pro/apo2d/apo_log2html.pro -text
pro/apo2d/apo_plotbias.pro -text
pro/apo2d/apo_plotsn.pro -text
pro/apo2d/apoall.pro -text
pro/apo2d/apofix.pro -text
pro/apo2d/apofluxcalib.pro -text
pro/apo2d/apoheader.pro -text
pro/apo2d/apoplot.pro -text
pro/apo2d/apoplotarc.pro -text
pro/apo2d/apoplotgeom.pro -text
pro/apo2d/apoplotsky.pro -text
pro/apo2d/aporeduce.pro -text
pro/apo2d/atvrawspec.pro -text
pro/apo2d/collimate.pro -text
pro/apo2d/focushistory.pro -text
pro/apo2d/guidermovie.pro -text
pro/apo2d/guidermpeg.pro -text
pro/apo2d/plughistory.pro -text
pro/apo2d/plugmap_tycho.pro -text
pro/apo2d/quickbias.pro -text
pro/apo2d/quickboxcar.pro -text
pro/apo2d/quickextract.pro -text
pro/apo2d/quicktrace.pro -text
pro/apo2d/quickwave.pro -text
pro/apo2d/remove2redo.pro -text
pro/apo2d/slithistory.pro -text
pro/fluxfix/Makefile -text
pro/fluxfix/atmdisp_cor.pro -text
pro/fluxfix/djs_sfit_iter.pro -text
pro/fluxfix/frame_flux_calib.pro -text
pro/fluxfix/frame_flux_tweak.pro -text
pro/fluxfix/jeg_sphoto_coef.pro -text
pro/fluxfix/kurucz_restore.pro -text
pro/fluxfix/newspcombine.pro -text
pro/fluxfix/pca_flux_standard.pro -text
pro/fluxfix/rectify.pro -text
pro/fluxfix/smear_compare.pro -text
pro/fluxfix/spcoadd_fluxed_frames.pro -text
pro/fluxfix/spdata2model_ratio.pro -text
pro/fluxfix/sphoto_calib.pro -text
pro/fluxfix/spmedian_rebin.pro -text
pro/fluxfix/spread_frames.pro -text
pro/fluxfix/stype_standard.pro -text
pro/inspect/Makefile -text
pro/inspect/inspectfiles.pro -text
pro/inspect/inspectgen.pro -text
pro/photoz/Makefile -text
pro/photoz/lrg_photoz.pro -text
pro/photoz/lrg_photoz_test.pro -text
pro/photoz/lrg_tweak_template.pro -text
pro/photoz/lrgmodel_append_twodf.pro -text
pro/photoz/lrgmodel_errors.pro -text
pro/photoz/lrgmodel_photoz.pro -text
pro/photoz/lrgmodel_plots.pro -text
pro/photoz/lrgmodel_read_spall.pro -text
pro/photoz/lrgmodel_train.pro -text
pro/photoz/lrgmodel_tweak_template.pro -text
pro/photoz/lrgsim.pro -text
pro/plan/badfmags.pro -text
pro/plan/badfstars.pro -text
pro/plan/daytime_test.pro -text
pro/plan/dr1list_best.pro -text
pro/plan/find_unplugged.pro -text
pro/plan/fstars_plot.pro -text
pro/plan/listchi.pro -text
pro/plan/listexptime.pro -text
pro/plan/platecen_test.pro -text
pro/plan/plugfile_relabel.pro -text
pro/plan/plugfile_unmapped.pro -text
pro/plan/smeartimes.pro -text
pro/plan/update_plate_release.pro -text
pro/plan/update_platelist.pro -text
pro/plate/Makefile -text
pro/plate/README -text
pro/plate/README.OBSERVE -text
pro/plate/README.RUNPLATE -text
pro/plate/brightcmag.pro -text
pro/plate/design_multiplate.pro -text
pro/plate/design_n1817.pro -text
pro/plate/design_n752.pro -text
pro/plate/design_plate.pro -text
pro/plate/design_pleiades.pro -text
pro/plate/design_praesepe.pro -text
pro/plate/design_random.pro -text
pro/plate/design_read2mass.pro -text
pro/plate/design_starstruct.pro -text
pro/plate/design_taurus.pro -text
pro/plate/n1817.j11 -text
pro/plate/n1817.match -text
pro/plate/n752.j10 -text
pro/plate/n752.j14 -text
pro/plate/n752.match -text
pro/plate/plate_newcenter.pro -text
pro/plate/plate_rotate.pro -text
pro/plate/pleiades.j10 -text
pro/plate/pleiades.j14 -text
pro/plate/praesepe.j10 -text
pro/plate/praesepe.j13 -text
pro/plate/praesepe.match.j10 -text
pro/plate/sbss_testplate.pro -text
pro/plate/test_sbss_testplate.pro -text
pro/plate/tyc_sdssmags.pro -text
pro/science/Makefile -text
pro/science/README -text
pro/science/bandpassinfo.pro -text
pro/science/ism/nebularsky.pro -text
pro/science/k_correct.pro -text
pro/science/kinematics/MCsimul.pro -text
pro/science/kinematics/Makefile -text
pro/science/kinematics/fitsimul.pro -text
pro/science/kinematics/fitsimul_combtemp.pro -text
pro/science/kinematics/mbandpassfilter.pro -text
pro/science/kinematics/mfindchi2min.pro -text
pro/science/kinematics/mfitredshift.pro -text
pro/science/kinematics/mfourier_difference.pro -text
pro/science/kinematics/mfourier_quot_diff.pro -text
pro/science/kinematics/mfourier_quotient.pro -text
pro/science/kinematics/mveldisp.pro -text
pro/science/kinematics/mveldisp_fft.pro -text
pro/science/kinematics/mveldisp_stars.pro -text
pro/science/kinematics/mveldisp_struc.pro -text
pro/science/kinematics/newdiff.pro -text
pro/science/kinematics/realspace.pro -text
pro/science/kinematics/skyremove.pro -text
pro/science/kinematics/sp321 -text
pro/science/kinematics/sp4 -text
pro/science/kinematics/spbrg -text
pro/science/kinematics/template.pro -text
pro/science/kinematics/vdisprebin.pro -text
pro/science/lickindex/Makefile -text
pro/science/lickindex/gauss_smooth_wave.pro -text
pro/science/lickindex/lickindices.pro -text
pro/science/lickindex/one_indices.pro -text
pro/science/lya/Makefile -text
pro/science/lya/zqso_nolya.pro -text
pro/science/qso/Makefile -text
pro/science/qso/README -text
pro/science/qso/create_absstruct.pro -text
pro/science/qso/fitfineconst.pro -text
pro/science/qso/getqso.pro -text
pro/science/qso/id_summarize.pro -text
pro/science/qso/look_mgii.pro -text
pro/science/qso/mgII.lines -text
pro/science/qso/mgii_pathlength.pro -text
pro/science/qso/print_idsummary.pro -text
pro/science/qso/propfrac.pro -text
pro/science/qso/qso_continuum_fit.pro -text
pro/science/qso/qso_createspec.pro -text
pro/science/qso/qso_slowcont.pro -text
pro/science/qso/qso_sortpeaks.pro -text
pro/science/qso/qsorefract.pro -text
pro/science/qso/qsorplot.pro -text
pro/science/qso/quickplot.pro -text
pro/science/sdss_spec_block.pro -text
pro/science/spec_param_str.pro -text
pro/science/spectra_sample.pro -text
pro/spec1d/Makefile -text
pro/spec1d/RED -text
pro/spec1d/TODO -text
pro/spec1d/bandpassfilter.pro -text
pro/spec1d/batch1d.pro -text
pro/spec1d/bin_spectra.pro -text
pro/spec1d/catplot.pro -text
pro/spec1d/computechi2.pro -text
pro/spec1d/cosbell.pro -text
pro/spec1d/create_linestruct.pro -text
pro/spec1d/danvb_convert.pro -text
pro/spec1d/danvb_qsolist.pro -text
pro/spec1d/diffplate.pro -text
pro/spec1d/elodie_best.pro -text
pro/spec1d/fft_apodize.pro -text
pro/spec1d/fft_wavenums.pro -text
pro/spec1d/fftpad.pro -text
pro/spec1d/filter_check.pro -text
pro/spec1d/filter_check_chi2.pro -text
pro/spec1d/filter_select.pro -text
pro/spec1d/filter_solve.pro -text
pro/spec1d/find_nminima.pro -text
pro/spec1d/find_npeaks.pro -text
pro/spec1d/findchi2min.pro -text
pro/spec1d/findfiber.pro -text
pro/spec1d/findspec.pro -text
pro/spec1d/fitredshift.pro -text
pro/spec1d/fixfits1d.pro -text
pro/spec1d/fixmjd.pro -text
pro/spec1d/fixvdisp.pro -text
pro/spec1d/fourier_difference.pro -text
pro/spec1d/fourier_quotient.pro -text
pro/spec1d/fundamental_line.pro -text
pro/spec1d/gauss_periodic.pro -text
pro/spec1d/kurucz_fitsfile.pro -text
pro/spec1d/lambda_match.pro -text
pro/spec1d/linebackfit.pro -text
pro/spec1d/make_regress1d.pro -text
pro/spec1d/matchplugmap.pro -text
pro/spec1d/multisynthspec.pro -text
pro/spec1d/pca_cvstar.pro -text
pro/spec1d/pca_elodie.pro -text
pro/spec1d/pca_gal.pro -text
pro/spec1d/pca_lrgtest.pro -text
pro/spec1d/pca_qso.pro -text
pro/spec1d/pca_solve.pro -text
pro/spec1d/pca_star.pro -text
pro/spec1d/pca_vstnd.pro -text
pro/spec1d/platecompare.pro -text
pro/spec1d/platehist.pro -text
pro/spec1d/platelinks.pro -text
pro/spec1d/platelist.pro -text
pro/spec1d/platemerge.pro -text
pro/spec1d/plotm67.pro -text
pro/spec1d/plotspec.pro -text
pro/spec1d/plotspec_image.pro -text
pro/spec1d/plotzrepeats.pro -text
pro/spec1d/plug2tsobj.pro -text
pro/spec1d/poly_array.pro -text
pro/spec1d/primfac.pro -text
pro/spec1d/qaplot_fcalibvec.pro -text
pro/spec1d/qsorebin.pro -text
pro/spec1d/read_elodie.pro -text
pro/spec1d/readonespec.pro -text
pro/spec1d/readspec.pro -text
pro/spec1d/redindices.pro -text
pro/spec1d/redmonsterlist.pro -text
pro/spec1d/redplate.pro -text
pro/spec1d/rline_findew.pro -text
pro/spec1d/rline_findpeaks.pro -text
pro/spec1d/rline_getplate.pro -text
pro/spec1d/rline_loop.pro -text
pro/spec1d/rline_matchpeaks.pro -text
pro/spec1d/rline_plotsamp.pro -text
pro/spec1d/rline_plotsome.pro -text
pro/spec1d/rline_sample.pro -text
pro/spec1d/skymask.pro -text
pro/spec1d/solvefilter.pro -text
pro/spec1d/spec_append.pro -text
pro/spec1d/speclinefit.pro -text
pro/spec1d/spreduce1d.pro -text
pro/spec1d/star_dvelocity.pro -text
pro/spec1d/synthspec.pro -text
pro/spec1d/vdispfit.pro -text
pro/spec1d/vdisptest.pro -text
pro/spec1d/veldisp.pro -text
pro/spec1d/wavevector.pro -text
pro/spec1d/writespec.pro -text
pro/spec1d/zcompute.pro -text
pro/spec1d/zcompute_qso.pro -text
pro/spec1d/zfind.pro -text
pro/spec1d/zfitmax.pro -text
pro/spec1d/zplot.pro -text
pro/spec1d/zrefind.pro -text
pro/spec1d/ztweak.pro -text
pro/spec1d/ztweak2.pro -text
pro/spec1d/ztweak_gal.pro -text
pro/spec1d/ztweak_star.pro -text
pro/spec2d/Makefile -text
pro/spec2d/TODO -text
pro/spec2d/arcfit_guess.pro -text
pro/spec2d/arcsky_fit.pro -text
pro/spec2d/batch2d.pro -text
pro/spec2d/calcflux.pro -text
pro/spec2d/calcscatimage.pro -text
pro/spec2d/checkflavor.pro -text
pro/spec2d/chunkinfo.pro -text
pro/spec2d/combine1fiber.pro -text
pro/spec2d/correct_dlam.pro -text
pro/spec2d/divideflat.pro -text
pro/spec2d/extract2.pro -text
pro/spec2d/extract_boxcar.pro -text
pro/spec2d/extract_image.pro -text
pro/spec2d/extract_object.pro -text
pro/spec2d/extract_profile.pro -text
pro/spec2d/extract_row.pro -text
pro/spec2d/extract_row_safe.pro -text
pro/spec2d/fcalib_default.pro -text
pro/spec2d/fiber_rollcall.pro -text
pro/spec2d/fiberflat.pro -text
pro/spec2d/fibermask_bits.pro -text
pro/spec2d/filter_thru.pro -text
pro/spec2d/finalarcfit.pro -text
pro/spec2d/find_whopping.pro -text
pro/spec2d/fit_skyset.pro -text
pro/spec2d/fit_tset.pro -text
pro/spec2d/fitansimage.pro -text
pro/spec2d/fitarcimage.pro -text
pro/spec2d/fitarcimage_old.pro -text
pro/spec2d/fitdispersion.pro -text
pro/spec2d/fitflatwidth.pro -text
pro/spec2d/fitmeanx.pro -text
pro/spec2d/fitsn.pro -text
pro/spec2d/fitvacset.pro -text
pro/spec2d/fitwithmx.pro -text
pro/spec2d/flatinterp.pro -text
pro/spec2d/flux_distortion.pro -text
pro/spec2d/fluxcorr_new.pro -text
pro/spec2d/fluxfix.pro -text
pro/spec2d/focalplane.pro -text
pro/spec2d/funccheb.pro -text
pro/spec2d/gauss_smooth.pro -text
pro/spec2d/genflatmask.pro -text
pro/spec2d/get_mjd_dir.pro -text
pro/spec2d/get_tai.pro -text
pro/spec2d/idlspec2d_version.pro -text
pro/spec2d/locateskylines.pro -text
pro/spec2d/locateskylines_test.pro -text
pro/spec2d/logsheet.pro -text
pro/spec2d/make_skyinvvar.pro -text
pro/spec2d/makefile.old -text
pro/spec2d/match_trace.pro -text
pro/spec2d/mjd_match.pro -text
pro/spec2d/monster.pro -text
pro/spec2d/myfluxcalib.pro -text
pro/spec2d/myfluxcorr.pro -text
pro/spec2d/myratiofit.pro -text
pro/spec2d/pixelmask_bits.pro -text
pro/spec2d/platesn.pro -text
pro/spec2d/plotsignal.pro -text
pro/spec2d/plotsky.pro -text
pro/spec2d/plotsn.pro -text
pro/spec2d/qaplot_arcline.pro -text
pro/spec2d/qaplot_fflat.pro -text
pro/spec2d/qaplot_scatlight.pro -text
pro/spec2d/qaplot_skydev.pro -text
pro/spec2d/qaplot_skyline.pro -text
pro/spec2d/qaplot_skyshift.pro -text
pro/spec2d/qaplot_skysub.pro -text
pro/spec2d/read1spec.pro -text
pro/spec2d/read2dout.pro -text
pro/spec2d/readplugmap.pro -text
pro/spec2d/readsmear.pro -text
pro/spec2d/redmonster.pro -text
pro/spec2d/reject_arc.pro -text
pro/spec2d/reject_flat.pro -text
pro/spec2d/reject_science.pro -text
pro/spec2d/sdreportmake.pro -text
pro/spec2d/sdsshead.pro -text
pro/spec2d/sdssproc.pro -text
pro/spec2d/select_arc.pro -text
pro/spec2d/select_flat.pro -text
pro/spec2d/shift_trace.pro -text
pro/spec2d/skyline_dispersion.pro -text
pro/spec2d/skysubtract.pro -text
pro/spec2d/smooth_halo.pro -text
pro/spec2d/smooth_halo2d.pro -text
pro/spec2d/smooth_superflat.pro -text
pro/spec2d/sortplugmap.pro -text
pro/spec2d/spadd_guiderinfo.pro -text
pro/spec2d/spallflat.pro -text
pro/spec2d/spbiasave.pro -text
pro/spec2d/spbiasgen.pro -text
pro/spec2d/spcalib.pro -text
pro/spec2d/spcoadd_frames.pro -text
pro/spec2d/spcoadd_v5.pro -text
pro/spec2d/spcombine.pro -text
pro/spec2d/spcombine_v5.pro -text
pro/spec2d/spflatave.pro -text
pro/spec2d/spflatgen.pro -text
pro/spec2d/spflatten.pro -text
pro/spec2d/spflatten2.pro -text
pro/spec2d/spflux.pro -text
pro/spec2d/spflux_read_kurucz.pro -text
pro/spec2d/spflux_v5.pro -text
pro/spec2d/spfluxcorr_v5.pro -text
pro/spec2d/spframe_read.pro -text
pro/spec2d/spgain.pro -text
pro/spec2d/sphdrfix.pro -text
pro/spec2d/spplan1d.pro -text
pro/spec2d/spplan2d.pro -text
pro/spec2d/spplan_create_spexp.pro -text
pro/spec2d/spplan_findrawdata.pro -text
pro/spec2d/spreduce.pro -text
pro/spec2d/spreduce2d.pro -text
pro/spec2d/sshiftvec.pro -text
pro/spec2d/superflat.pro -text
pro/spec2d/telluric_corr.pro -text
pro/spec2d/throughput_calib.pro -text
pro/spec2d/trace320cen.pro -text
pro/spec2d/trace320crude.pro -text
pro/spec2d/trace_fix.pro -text
pro/spec2d/tweaktrace.pro -text
pro/spec2d/ushift.pro -text
pro/spec2d/warn_daytime.pro -text
pro/spec2d/write_uros.pro -text
pro/spec2d/writeapid.pro -text
pro/specdb/Makefile -text
pro/specdb/README -text
pro/specdb/mysql_write.pro -text
pro/specdb/photo_loader.pro -text
pro/specdb/postgres_write.pro -text
pro/specdb/specdb_create.pro -text
src/Makefile -text
src/extract_boxcar.c -text
src/extract_row.c -text
src/sshiftvec.c -text
templates/Makefile -text
templates/eigeninput_cvstar.dat -text
templates/eigeninput_gal.dat -text
templates/eigeninput_qso.dat -text
templates/eigeninput_star.par -text
templates/eigeninput_vstnd.dat -text
templates/kurucz_stds_raw_v5.fits -text
templates/qso.template -text
templates/qsolist.27plates -text
templates/spBsplineQSO-53115.fits -text svneol=unset#application/octet-stream
templates/spEigenCVstar-52223.fits -text svneol=unset#unset
templates/spEigenCVstar-53054.fits -text
templates/spEigenCVstar-53724.fits -text
templates/spEigenElodie.fits -text svneol=unset#unset
templates/spEigenGal-51838.fits -text svneol=unset#unset
templates/spEigenGal-51846.fits -text svneol=unset#unset
templates/spEigenGal-51984.fits -text svneol=unset#unset
templates/spEigenGal-52146.fits -text svneol=unset#unset
templates/spEigenGal-52223.fits -text svneol=unset#unset
templates/spEigenGal-53054.fits -text svneol=unset#application/octet-stream
templates/spEigenGal-53724.fits -text svneol=unset#application/octet-stream
templates/spEigenQSO-52223.fits -text
templates/spEigenQSO-53054.fits -text svneol=unset#application/octet-stream
templates/spEigenQSO-53724.fits -text svneol=unset#application/octet-stream
templates/spEigenQSO.fits -text
templates/spEigenStar-51845.fits -text svneol=unset#unset
templates/spEigenStar-51984.fits -text svneol=unset#unset
templates/spEigenStar-52146.fits -text svneol=unset#unset
templates/spEigenStar-52223.fits -text svneol=unset#unset
templates/spEigenStar-52333.fits -text svneol=unset#unset
templates/spEigenStar-52374.fits -text svneol=unset#unset
templates/spEigenStar-53054.fits -text
templates/spEigenStar-53724.fits -text
templates/spEigenVdisp.fits -text svneol=unset#unset
templates/spEigenVstnd.fits -text svneol=unset#unset
templates/spLRG-52928.fits -text
templates/ssp_1.4Gyr_z008.spec -text
templates/ssp_1.4Gyr_z02.spec -text
templates/ssp_1.4Gyr_z05.spec -text
templates/ssp_100Myr_z008.spec -text
templates/ssp_100Myr_z02.spec -text
templates/ssp_100Myr_z05.spec -text
templates/ssp_11Gyr_z008.spec -text
templates/ssp_11Gyr_z02.spec -text
templates/ssp_11Gyr_z05.spec -text
templates/ssp_2.5Gyr_z008.spec -text
templates/ssp_2.5Gyr_z02.spec -text
templates/ssp_2.5Gyr_z05.spec -text
templates/ssp_25Myr_z008.spec -text
templates/ssp_25Myr_z02.spec -text
templates/ssp_25Myr_z05.spec -text
templates/ssp_290Myr_z008.spec -text
templates/ssp_290Myr_z02.spec -text
templates/ssp_290Myr_z05.spec -text
templates/ssp_5Gyr_z008.spec -text
templates/ssp_5Gyr_z02.spec -text
templates/ssp_5Gyr_z05.spec -text
templates/ssp_5Myr_z008.spec -text
templates/ssp_5Myr_z02.spec -text
templates/ssp_5Myr_z05.spec -text
templates/ssp_640Myr_z008.spec -text
templates/ssp_640Myr_z02.spec -text
templates/ssp_640Myr_z05.spec -text
templates/ssp_900Myr_z008.spec -text
templates/ssp_900Myr_z02.spec -text
templates/ssp_900Myr_z05.spec -text
templates/wfEigenGal-52223.fits -text
templates/wfEigenStar-52374.fits -text
ups/Makefile -text
ups/idlspec2d.table -text
