<HTML>
    <HEAD>
        <TITLE>SOS plots for MJD {{mjd}}</TITLE>
        <link rel="shortcut icon" type="image/x-icon" href="{{favicon}}">
    </HEAD>
    <BODY ONLOAD="timerID=setTimeout('location.reload(true)',60000)">
        <H2>SOS plots for MJD {{mjd}} (<A HREF=../{{mjd}}/logfile-{{mjd}}.html>SOS Logs</A>)</H2>
        <BR>This page last updated <B>Sun Aug 25 05:19:55 2024 UTC</B>
        
        <TABLE BORDER=2>
            <tbody>
                {% for item in exps %}
                <TR>
                    <TD>{{ item }} </TD>
                    <TD>
                        <A HREF=../{{MJD}}/summary_{{MJD}-{{item}}-{{blue}}.jpg> <IMG SRC=../{{MJD}}/summary_{{MJD}}-{{item}}-{{blue}}_wide.jpg WIDTH=1200> <BR>
                        <A HREF=../{{MJD}}/summary_{{MJD}-{{item}}-{{red}}.jpg> <IMG SRC=../{{MJD}}/summary_{{MJD}}-{{item}}-{{red}}_wide.jpg WIDTH=1200>
                    </TD>
                <TR>
                {% endfor %}
            <TR><TD>38771<TD><A HREF=../60547/summary_60547-00038771-b2.jpg> <IMG SRC=../60547/summary_60547-00038771-b2_wide.jpg WIDTH=1200></A><br><A HREF=../60547/summary_60547-00038771-r2.jpg> <IMG SRC=../60547/summary_60547-00038771-r2_wide.jpg WIDTH=1200></A></TD>
        </TABLE>
    </BODY>
</HTML>
