#!/usr/bin/env bash

cd {{ control_dir }}

{% if module %}
module purge ; module load {{ module }}
{% endif %}

set -o verbose

{% if fieldlist %}
fieldlist --create --run1d {{ RUN1D }} --run2d {{ RUN2D }}
{% endif %}

{% for i in range(n_iter) %}
    {% if i == n_iter - 1 %}
        {% set fmflags = fieldmergeflags %}
    {% else %}
        {% set fmflags = fieldmergeflags_itter %}
    {% endif %}
    {% if backup and i > 0 %}
current_time=$(date "+%Y.%m.%d-%H.%M.%S")
cp -p {{ log }}.o.log {{ log }}.o.log-$current_time
cp -p {{ log }}.e.log {{ log }}.e.log-$current_time

    {% endif %}

fieldmerge {{ fmflags }}
{% endfor %}

{% if bk_cmd %}
{{ bk_cmd }}
{% endif %}

{% if database %}
sas_mos_too boss -t all -d {{ RUN2D }}
sdss5db_update_boss -d {{ RUN2D }} -v -s -Y -p
{% endif %}
